<app-body class="charts">

  <section class="charts__actions">
    <!-- [formGroup]="categoryForm" -->
    <form >
      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>Data Type</mat-label>
            <mat-select formControlName="typeId">
              <!-- <mat-option *ngFor="let type of types" [value]="type.id" required></mat-option> -->
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Generation Rate</mat-label>
            <mat-select formControlName="typeId">
              <!-- <mat-option *ngFor="let type of types" [value]="type.id" required></mat-option> -->
            </mat-select>>
          </mat-form-field>
        </div>
      </mat-card-content>
    </form>


    <button mat-stroked-button color="primary" (click)="clearData()">Cleart Data</button>
    <button mat-raised-button color="primary" (click)="generateData()">Generate Data</button>
  </section>

  <section class="charts__linear-chart">
    <h1>Linear Chart</h1>
    <ngx-charts-line-chart 
      [results]="data" 
      [view]="view" 
      [scheme]="colorSchemeLine" 
      [legendTitle]="legendTitle" 
      [legend]="true" 
      [showGridLines]="false" 
      [showRefLines]="true"
      [showYAxisLabel]="true" 
      [animations]="true" 
      [xAxis]="true" 
      [yAxis]="true" 
      [curve]="curve"
      [maxXAxisTickLength]="5" 
      
      [trimXAxisTicks]="true"
      [trimYAxisTicks]="true" 
      [yAxisLabel]="yLabelName"
      (select)="onSelect($event)" 
      (activate)="onActivate($event)" 
      (deactivate)="onDeactivate($event)"
      [autoScale]="true">
    </ngx-charts-line-chart>
  </section>
   
  <section class="charts__divider">
    <mat-divider></mat-divider>
  </section>

  <section class="charts__polar-chart">
    <h1>Polar Chart</h1>
    <ngx-charts-polar-chart 
      [view]="view"
      [scheme]="colorSchemePolar" 
      [legend]="true" 
      [showYAxisLabel]="true" 
      [animations]="true" 
      [yAxis]="true" 
      [showGridLines]="true" 
      [yAxisLabel]="yLabelName" 
      [legendTitle]="legendTitle" 
      [results]="data" 
      (select)="onSelect($event)" 
      (activate)="onActivate($event)" 
      (deactivate)="onDeactivate($event)"
      [autoScale]="false">
    </ngx-charts-polar-chart>
  </section>
    
  <section class="charts__divider">
    <mat-divider></mat-divider>
  </section>

  <section class="charts__data-counter">
    <h1>Data Counter</h1>
    <p class="charts__data-counter__counter">{{dataCounter}}</p>
    <p class="charts__data-counter__text">Data point(s) received</p>
  </section>

</app-body>
