<app-body class="charts">

  <section class="charts__form-container">
    <h1>Setup</h1>
    <form [formGroup]="dataForm" class="charts__form-container__form">
      <mat-form-field>
        <mat-label>Data Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let key of dataTypeNameKeys" [value]="key" required>
            {{dataTypeNameByKey(key)}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.type.touched && formControl.type.invalid">
          Select a data type
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Generation Rate</mat-label>
        <mat-select formControlName="rate">
          <mat-option *ngFor="let key of generationRateKeys" [value]="key" required>
            {{generationRate[key]}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.rate.touched && formControl.rate.invalid">
          Select a data generation rate
        </mat-error>
      </mat-form-field>
    </form>

    <section class="charts__form-container__actions">
      <button mat-stroked-button color="primary" (click)="clearData()">Cleart Data</button>
      <button mat-raised-button color="primary" (click)="generateData()" [disabled]="dataForm.invalid || isReceivingData">Generate Data</button>
    </section>

    <section *ngIf="isReceivingData" class="charts__form-container__progress">
      <h3>Generating {{dataTypeNameInProcess}} data, please wait!</h3>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </section>

    <section *ngIf="showFailMessage" class="charts__form-container__fail-message">
      <h3>Failed to generate {{dataTypeNameInProcess}} data, try another one!</h3>
      <button mat-stroked-button color="primary" (click)="showFailMessage = false">Dismiss</button>
    </section>
  </section>

  <section class="charts__divider">
    <mat-divider></mat-divider>
  </section>

  <section class="charts__linear-chart">
    <h1>Linear Chart</h1>
    <ngx-charts-line-chart 
      [results]="data" 
      [view]="view" 
      [scheme]="colorSchemeLine" 
      [legendTitle]="legendTitle" 
      [legend]="true" 
      [showGridLines]="false" 
      [showRefLines]="true"
      [showYAxisLabel]="true" 
      [animations]="true" 
      [xAxis]="true" 
      [yAxis]="true" 
      [curve]="curve"
      [maxXAxisTickLength]="5" 
      [trimXAxisTicks]="true"
      [trimYAxisTicks]="true" 
      [yAxisLabel]="yLabelName"
      (select)="onSelect($event)" 
      (activate)="onActivate($event)" 
      (deactivate)="onDeactivate($event)"
      [autoScale]="true">
    </ngx-charts-line-chart>
  </section>
   
  <section class="charts__divider">
    <mat-divider></mat-divider>
  </section>

  <section class="charts__polar-chart">
    <h1>Polar Chart</h1>
    <ngx-charts-polar-chart 
      [view]="view"
      [scheme]="colorSchemePolar" 
      [legend]="true" 
      [showYAxisLabel]="true" 
      [animations]="true" 
      [yAxis]="true" 
      [showGridLines]="true" 
      [yAxisLabel]="yLabelName" 
      [legendTitle]="legendTitle" 
      [results]="data" 
      (select)="onSelect($event)" 
      (activate)="onActivate($event)" 
      (deactivate)="onDeactivate($event)"
      [autoScale]="false">
    </ngx-charts-polar-chart>
  </section>
    
  <section class="charts__divider">
    <mat-divider></mat-divider>
  </section>

  <section class="charts__data-counter">
    <h1>Data point(s) received</h1>
    <p class="charts__data-counter__counter">{{dataCounter}}</p>
  </section>

</app-body>
